
.circular-gallery {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: grab;
  background: transparent;
}

.circular-gallery:active {
  cursor: grabbing;
}

.circular-gallery canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.circular-gallery.no-js {
  display: none;
}
